.menu {
  color: darkgreen;
  font-size: large;
  font-weight: bolder;
}

.parrafo {
  color: deepskyblue;
  font-size: large;
}

.tituloparrafo {
  color: mediumpurple;
  font-weight: bolder;
  font-size: large;
}
