/* los vinculos presentan varios estados 
link: el vinculo normal
visiter: Cuando le has sido visitado
hover: mouse esta sobre el vinculo 
activate: le das clic
*/
a.vinculo1:link {
  color: chartreuse;
}

a.vinculo1:visited {
  color: coral;
}

a.vinculo1:hover {
  color: darkmagenta;
}

a.vinculo1:active {
  color: darkturquoise;
}

/* quitamos las decoraciones del texto */
a.vinculo2:link {
  text-decoration: none;
}

a.vinculo2:visited {
  text-decoration: none;
}

a.vinculo2:hover {
  text-decoration: none;
}

a.vinculo2:active {
  text-decoration: none;
}

/* generamos un estilo para que el vinculo paresca un botom */
a.vinculo3:link,
a.vinculo3:visited {
  background-color: deeppink;
  color: black;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}

a.vinculo3:hover,
a.vinculo3:active {
  background-color: greenyellow;
}

/* generamos un estilo para que el vinculo parezca un botom */
a.vinculo4:link,
a.vinculo4:visited {
  background-color: royalblue;
  color: blanchedalmond;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

a.vinculo4:hover,
a.vinculo4:active {
  background-color: black;
}
