* {
  padding: 10px;
}

body {
  background-color: burlywood;
}

.contenedor {
  background-color: cornsilk;
}

/* agregamos color en el texto del parrafo */
.parrafocolor {
  color: darkred;
}

/* alineamos el parrafo */
.parrafoderecha {
  text-align: right;
}

.parrafocentro {
  text-align: center;
}

.parrafoizquierda {
  text-align: left;
}

.parrafojustificado {
  text-align: justify;
}

.parrafosuperior {
  vertical-align: top;
}

.parrafomedio {
  vertical-align: middle;
}

.parrafoinferior {
  vertical-align: bottom;
}

/* agregamos una decoaracion */

.parrafosobrelinea {
  text-decoration: overline;
}

.parrafosubrayado {
  text-decoration: underline;
}

.parrafotachado {
  text-decoration: line-through;
}

/* agregamos transformaciones  al texto de parrafo */
.parrafomayuscula {
  text-transform: uppercase;
}

.parrafominuscula {
  text-transform: lowercase;
}

.parranombrepropio {
  text-transform: capitalize;
}

/* agregamos espacio para los textos del parrafo */

.parrafosangria {
  text-indent: 80px;
}

.parrafoespacio {
  letter-spacing: 10px;
}

.parrafoespacioletracomprimido {
  letter-spacing: -2px;
}

.parrafoespaciolinea {
  line-height: 2px;
}

.parrafoespaciolineaamplio {
  line-height: 7px;
}

.parrafoespacioletra {
  word-spacing: 15px;
}

.parrafoletracomprimido {
  word-spacing: -2px;
}

/* agregamos sombras al texto del parrafo */
.parrafosombra {
  text-shadow: 2px 3px orange;
}

.parrafosombradifuminado {
  text-shadow: 2px 3px 5px red;
}
