.visible {
  background-color: rgb(22, 120, 218);
  width: 300px;
  height: 100px;
  border: 1px dotted firebrick;
  overflow: visible;
}

.oculto {
  background-color: slategrey;
  width: 300px;
  height: 100px;
  border: 1px dotted rgb(105, 237, 100);
  overflow: visible;
}

.barra {
  background-color: slategrey;
  width: 300px;
  height: 100px;
  border: 1px dotted rgb(251, 255, 0);
  overflow: scroll;
}

.automatico {
  background-color: slategrey;
  width: 300px;
  height: 100px;
  border: 1px dotted rgb(39, 1, 255);
  overflow: auto;
}

.doble {
  background-color: slategrey;
  width: 300px;
  height: 100px;
  border: 1px dotted rgb(22, 255, 1);
  overflow-y: hidden;
  overflow-x: scroll;
}
