ul {
  background-color: brown;
  padding: 10px;
  list-style-type: square;
  list-style-position: inside;
}

ul li {
  background-color: burlywood;
  margin: 3px;
}

ul li ul {
  background-color: chartreuse;
  padding: 5px;
  list-style-type: circle;
  list-style-position: outside;
}

ul li ul li {
  background-color: rgb(141, 143, 250);
  margin: 3px;
}

ul li ul li ul {
  background-color: coral;
  list-style-type: disc;
  list-style-position: inside;
  padding: 10px;
}

ul li ul li ul li {
  background-color: crimson;
  color: white;
}
